@model WebAppMVCCore6.Models.Client;

@{
   ViewData["Title"] = "Home Page";
}

<div class = 'text-center'>
  <div> 
        <span>CLient</span>
        <div>RCS : </div> @Model.rcs
        <div>Email : </div>  @Model.email
   </div>
</div>
